body { font-family: Helvetica Verdana Sans-serif; font-size: 14pt; }

h1 { font-size: 20pt; margin-top: 2.1em; }
h2 { font-size: 18pt; margin-top: 1.8em; }
h3 { font-size: 16pt; margin-top: 1.5em; }
h4 { font-size: 14pt; margin-top: 1.3em; }

p    { margin-top: 1em; }
pre  { overflow: auto;  background-color: whitesmoke;  font-size: smaller; }
code { font-size: smaller; }

table       { font-size: smaller; }
table tr    { vertical-align: top; }
table th,td { border-bottom: 1px solid black;  padding: 0.2em 0.7em;  }
table th:first-child,td:first-child { padding-left: 0 }

.name { font-family: monospace; font-size: large; }
.wip  { color: red; font-size: larger; }
.note { font-style: italic; margin-left: 2em; }

.grid-container {
    display: grid;
    grid-template-areas:
      'header  header'
      'sidebar content'
      'footer  footer'
    ;
    margin-right: 2em;
}

.grid-content { grid-area: content; text-align: justify; }


.grid-header {
    grid-area: header;
    text-align: center;
}

.grid-footer {
    grid-area:  footer;
    text-align: center;
    font-size:  smaller;
}

.grid-sidebar {
    grid-area: sidebar;
    margin: 0.4em 2em 0.3em 0.5em
}

.grid-sidebar ul       { margin-bottom: 1em; }
.grid-sidebar li       { margin-top: 0.5em; }
.grid-sidebar ul ul    { font-size: 95%; }
.grid-sidebar ul ul ul { font-size: 95%; }
